# Database
DATABASE_URL="postgresql://username:password@localhost:5432/soulsignal?schema=public"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key

# Oura API
OURA_CLIENT_ID=your-oura-client-id
OURA_CLIENT_SECRET=your-oura-client-secret

# Development
NODE_ENV=development